# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/Makefile
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-ca07dfaa6c7f97c64857.json
build/.cmake/api/v1/reply/codemodel-v2-826729d38bfe12c45b08.json
build/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
build/.cmake/api/v1/reply/index-2022-08-14T22-48-17-0148.json
build/.cmake/api/v1/reply/target-seis-nilslenaerts-Debug-15d21c7a07246d269a12.json
build/.cmake/api/v1/reply/toolchains-v1-493d4248fc182f0167ab.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.23.3/CMakeCCompiler.cmake
build/CMakeFiles/3.23.3/CMakeCXXCompiler.cmake
build/CMakeFiles/3.23.3/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.23.3/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.23.3/CMakeSystem.cmake
build/CMakeFiles/3.23.3/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.23.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/seis-nilslenaerts.dir/build.make
build/CMakeFiles/seis-nilslenaerts.dir/cmake_clean.cmake
build/CMakeFiles/seis-nilslenaerts.dir/compiler_depend.make
build/CMakeFiles/seis-nilslenaerts.dir/compiler_depend.ts
build/CMakeFiles/seis-nilslenaerts.dir/depend.make
build/CMakeFiles/seis-nilslenaerts.dir/DependInfo.cmake
build/CMakeFiles/seis-nilslenaerts.dir/flags.make
build/CMakeFiles/seis-nilslenaerts.dir/link.txt
build/CMakeFiles/seis-nilslenaerts.dir/progress.make
